@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --background-color: #192655;
    --dark-blue: #0b60b0;
    --primary-blue: #0cc0df;
    --primary-green: #2daa9e;
    --blank-cell: #90d5cf;
    --accent-color: #fcb839;
    --red-accent: #de3611;
    --text-color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    text-align: center;
    background-color: var(--background-color);
}

/* CHANGING LEVEL UI */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  transition: opacity 0.5s ease;
}

#overlay.hidden {
  opacity: 0;
  pointer-events: none;
}

#result-card {
  background: rgba(0, 0, 0, 0.75);
  color: var(--text-color);
  padding: 2rem 3rem;
  border-radius: 1rem;
  text-align: center;
  font-size: 1.6rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

#result-card>p {
    color: #6fcb23;
}

#retry-button {
    background-color: #f02648;
    box-shadow: 0.125rem 0.125rem 0.2rem 0.01rem rgba(25, 38, 85, 0.35);
    border-radius: 0.2rem;
    border: none;
    width: 6rem;
    height: 2.2rem;
    color: var(--text-color);
    margin: 0.4rem auto;
    font-size: 1.2rem;
}

#retry-button:hover {
    cursor: pointer;
    background-color: #d91133;
    box-shadow:2px 2px 5px 1px rgb(0, 0, 0);
}


/* HEADER */

.content-left {
    max-width: 750px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
    margin-right: 1rem;
    padding: 1rem;
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-icon {
    height: 4rem;
    transition: transform 0.1s ease-in;
}

.logo-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    transition: transform 0.1s ease-in;
}

.logo-text:hover,
.logo-icon:hover {
    transform: scale(1.02);
    text-shadow: 0.3rem 0.4rem 0.5rem rgb(0, 0, 50);
}

.level-box {
    width: 12rem;
    height: 2.8rem;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    align-items: stretch;
    background-color: var(--accent-color);
    border-radius: 0.375rem;
    justify-self: end;
}

.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-box:hover {
    box-shadow: 0.125rem 0.125rem 0.25rem 0.08rem rgba(0, 0, 0, 0.4);
} 

#left-arrow {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

#right-arrow {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.arrow {
    transition: font-size 0.3s ease, background-color 0.2s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.arrow:hover {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background-color: #ffa916;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(214, 135, 0, 0.5);
}

#level-number:hover {
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(214, 135, 0, 0.5);
}

/* MAIN CONTAINER */

.container {
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row;
    gap:3.5vw;
    display: flex;
    padding: 0.6rem;
}


/* Media queries for responsiveness */
@media (max-width: 1400px) {
    .container {
        flex-direction: column;
        align-items: center;
        gap: 6rem;
        max-width: 95%;
    }

    .content-left,
    .content-right {
        width: 100%;
        max-width: 750px;
    }
}

@media (max-width: 700px) {
    .container {
        gap: 3rem;
        padding: 0.5rem;
    }

    header {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-right: 0;
    }
    .logo-text {
        font-size: 2rem;
    }
    .logo-icon {
        height: 3rem;
    }
    .level-box {
        width: 10rem;
        height: 2.5rem;
        font-size: 1rem;
    }

    #editor {
        margin-top: 1.5rem;
        margin-right: 0;
        gap: 2rem;
    }
    .question {
        font-size: 1rem;
    }
    .code-card {
        padding: 0.8rem;
    }
    code {
        font-size: 1rem;
    }
    .question-code {
        flex-direction: column;
        gap: 1rem;
    }
    #hint-button {
        position: static;
        margin-top: 10px;
    }
    .css-input {
        width: 26rem;
    }

    #apply-button,
    #next-button {
        width: 100%;
        padding: 0.8rem;
        font-size: 1rem;
    }
}

@media (max-width: 580px) {
    .css-input {
        width: 20rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 0.3rem;
    }

    .logo-text {
        font-size: 1.5rem;
    }
    .logo-icon {
        height: 2.5rem;
    }
    .level-box {
        width: 8rem;
        height: 2rem;
        font-size: 0.8rem;
    }

    .question {
        font-size: 0.7rem;
    }
    code {
        font-size: 0.7rem;
    }
    .css-input {
        width: 15rem;
    }
}

/* QUESTION */

#editor {
    color: var(--text-color);
    text-align: left;
    margin-top: 2.8rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.question {
    font-size: 1.2rem;
    color: azure;
    font-family: 'Segoe UI';
    position: relative;
}

#question-text b {
    color: var(--accent-color);
}

#question-text i {
    color: var(--blank-cell);
}

.answer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.code-card {
    background-color: var(--dark-blue);
    border-radius: 0.4rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.question-code {
    display: flex;
    justify-items: space-evenly;
    gap: 2rem;
}

code {
    font-family: monospace;
    font-size: 1.25rem;
}

#hint-button {
    height: 2.4rem;
    width: 2.4rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.3rem;
    border: none;
    top: 0.5rem;
    right: 0.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.01rem rgba(25, 38, 85, 0.3);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
}

#hint-button:hover,
#hint-button:focus {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.05rem 0.05rem 0.2rem 0.01rem rgba(25, 38, 85, 0.15);
}

#bulb-icon {
    height: 1.7rem;
    width: auto;
    filter: drop-shadow(0.15rem 0.15rem 0.4rem rgba(0, 0, 0, 0.3));
    transition: height 0.2s ease, filter 0.2s ease;
}

#hint-button:hover img {
    filter: drop-shadow(0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.5));
    height: 1.86rem;
}

#hint-dialogue {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: opacity 0.5s ease;
}

#hint-dialogue.hidden {
    opacity: 0;
    pointer-events: none;
}

#hint-title {
    color: #fdcd49;
    font-weight: bold;
}

#hint-content {
    background-color: #03040aea;
    color: var(--text-color);
    padding: 2rem 2.9rem;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.4rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    max-width: 35%;
}

#hint-message {
    margin-bottom: 1rem;
    line-height: 1.5;
}

#hint-message b {
    color: var(--primary-blue);
}

#hint-message i {
    color: var(--primary-blue);
    font-weight: 450;
    font-style: normal;
}

#hint-close-button {
    background-color: #d91133;
    box-shadow: 0.125rem 0.125rem 0.2rem 0.01rem rgba(25, 38, 85, 0.35);
    border-radius: 0.2rem;
    border: none;
    width: 6rem;
    height: 2.2rem;
    color: var(--text-color);
    margin: 0.4rem auto;
    font-size: 1.2rem;
}

#hint-close-button:hover {
    cursor: pointer;
    background-color: #f40a31;
    box-shadow:2px 2px 5px 1px rgb(0, 0, 0);
    transform: scale(1.1);
    transition: transform 0.25s ease-in-out;
}


input {
    width: 29rem;
    height: 2rem;
    border: none;
    border-radius: 0.325rem;
    font-family: monospace;
    font-size: 1.2rem;
    padding-left: 0.4rem;
    margin: 0.2rem;
    color: #475351;
}

.css-input::placeholder {
    opacity: 0.5;
}

.css-input:focus {
    outline: 0.12rem solid var(--background-color);
    box-shadow: 0 0 0 0.2rem var(--blank-cell); /*outer outline*/
    opacity: 1;
}

#apply-button,
#next-button {
    background-color: var(--red-accent);
    border-radius: 0.2rem;
    margin-right: 1.4rem;
    padding: 0.4rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 450;
    width: 5rem;
    align-self: end;
    /* transform: translateY(0.1rem); */
    border: none;
    box-shadow: 0.125rem 0.125rem 0.2rem 0.01rem rgba(25, 38, 85, 0.35);
}

#apply-button:hover,
#next-button:hover {
    cursor: pointer;
    background-color: #ed4613;
    animation: pulse 1.6s ease infinite;

}

#apply-button:active,
#next-button:active {
    animation: none;
    background-color: var(--red-accent);
}

@keyframes pulse {
  0% {
    transform: scale(1.02);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    transform: scale(1.02);
    opacity: 1;
  }
}

#next-button {
    background-color: var(--accent-color);
    align-self: center;
    width: 8rem;
    font-size: 1.5rem;
}

#next-button:hover {
    background-color: #ffa916;
}


/* ISLAND */

.content-right {
    height: 90vh;
    display: flex;
    align-items: start;
    margin-top: 3.5rem;
}

#grid-container {
    background-color: #2daa9e;
    width: 41rem;
    height: 41rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
}

.island-container {
    width: 97%;
    height: 97%;
    background-color: #75c6be;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

#island {
    display: grid;
    width: 98.6%;
    height: 98.6%;
    gap: 0.18rem;
    border-radius: 0.1rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.cell {
    border: 0.0625rem solid transparent;
    border-right-color: var(--primary-green);
    border-bottom-color: var(--primary-green);
    border-top-color: #a6ded9;
    border-left-color: #a6ded9;
    border-radius: 0.08rem;

    display: grid;
    align-items: center;
    justify-items: center;

    overflow: hidden;
    background-color: #90d5cf;
    width:100%;
    height:100%;
    z-index: 0;

    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;
}

.cell:hover {
    transform: perspective(37.5rem) translateZ(0.6rem);
    border-width: 0.125rem;
    border-right-color: #2daa9e;
    border-bottom-color: #2daa9e;
    box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
}

.cell img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
}

/* CELL BACKGROUND FORMATTING */

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sand {
    background-image: url("images/sand_bg2.png");
    background-size: auto 100%;
    animation: slideBackground 12s linear infinite;
    z-index: 1;
    position: relative;
}

.ocean {
    background-image: url("images/ocean_bg_contrasted.png");
    background-size: auto 100%;
    animation: slideBackground 12s linear infinite;
    z-index: 1;
    position: relative;
}

.sand:hover,
.ocean:hover {
    animation-duration: 8s;
}

@keyframes pulseSmall {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.red-fish,
.big-fish,
.yellow-fish,
.small-fish,
.crab,
.seagull,
.dolphin,
.pufferfish {
  transition: transform 0.5s ease;
  z-index: 5;
  position: relative;
}

.red-fish,
.big-fish,
.yellow-fish,
.small-fish,
.crab,
.pufferfish {
    max-height: 85%;
    max-width: 85%;
    height: auto;
    width: auto;
}

.yellow-fish {
    max-width: 65%;
    /* height: auto; */
}

.small-fish {
    max-width: 50%;
    /* height: auto; */
    z-index: 3; 
    position: relative;
    /* so that it can be eaten (hidden behind)*/
}

.crab {
    max-width: 75%;
    /* height: auto; */
}

.tree {
    max-width: 92%;
    max-height: 100%;
    z-index: 3;
    position: relative;
}

.lighthouse {
    z-index: 3;
    position: relative;
}

.seagull {
    max-width: 70%;
    height: auto;
}

.dolphin {
    max-width: 70%;
    height: auto;
}

.red-fish:hover,
.big-fish:hover,
.yellow-fish:hover,
.small-fish:hover,
.crab:hover,
.tree:hover,
.seagull:hover,
.lighthouse:hover,
.dolphin:hover,
.pufferfish {
    animation: pulseSmall 1.5s ease infinite;
}