@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');

:root {
    --background-color: #192655;
    --dark-blue: #0b60b0;
    --primary-blue: #0cc0df;
    --primary-green: #2daa9e;
    --blank-cell: #90d5cf;
    --accent-color: #fcb839;
    --red-accent: #d03f1e;
    --text-color: rgb(255, 255, 255);
}

* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    width: 100vw;
    text-align: center;
    background-color: var(--background-color);
}

/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 50vw;
    /* margin: 0 0; */
    padding: 1rem;
    /* background-color: #bdcf63; */
}

.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.logo-icon {
    height: 4rem;
    transition: transform 0.1s ease-in;
}

.logo-text {
    font-family: 'Segoe UI', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: var(--text-color);
    transition: transform 0.1s ease-in;
}

.logo-text:hover,
.logo-icon:hover {
    transform: scale(1.02);
    text-shadow: 0.15rem 0.12rem 0.5rem rgb(0, 0, 50);
}

.level-box {
    width: 12rem;
    height: 2.8rem;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 3.5fr 1fr;
    align-items: stretch;
    background-color: var(--accent-color);
    border-radius: 0.375rem;
}

.place-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-box:hover {
    box-shadow: 0.125rem 0.125rem 0.25rem 0.08rem rgba(0, 0, 0, 0.4);
} 

#left-arrow {
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
}

#right-arrow {
    border-top-right-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}

.arrow {
    transition: font-size 0.3s ease, background-color 0.2s ease, color 0.3s ease, text-shadow 0.3s ease;
}

.arrow:hover {
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background-color: #ffa916;
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(214, 135, 0, 0.5);
}

#level-number:hover {
    text-shadow: 0.1rem 0.1rem 0.3rem rgba(214, 135, 0, 0.5);
}

/* MAIN CONTAINER */

.container {
    max-width: 90%;
    margin: 0 auto;
    flex-direction: row;
    gap:3.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.6rem;
}


/* QUESTION */

#editor {
    color: var(--text-color);
    text-align: left;
    margin-top: 3.5rem;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}

.question {
    font-size: 1.2rem;
}

.code-card {
    background-color: var(--dark-blue);
    border-radius: 0.4rem;
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

pre {
    font-family: monospace;
    font-size: 1.25rem;
}

#css-input {
    width: 30rem;
    height: 2rem;
    border: none;
    border-radius: 0.325rem;
    font-family: monospace;
    font-size: 1.2rem;
    padding-left: 0.4rem;
    margin: 0.2rem;
    color: #475351;
}

#css-input::placeholder {
    opacity: 0.5;
}

#css-input:focus {
    outline: 0.12rem solid var(--accent-color);
    opacity: 1;
}

#apply-button {
    background-color: var(--red-accent);
    border-radius: 0.2rem;
    margin-right: 1.4rem;
    padding: 0.4rem;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: 450;
    width: 5rem;
    align-self: end;
    /* transform: translateY(0.1rem); */
    border: none;
    box-shadow: 0.125rem 0.125rem 0.2rem 0.01rem rgba(25, 38, 85, 0.35);
}

#apply-button:hover {
    cursor: pointer;
    background-color: #ed4613;
    animation: pulse 1.6s ease infinite;

}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}


/* ISLAND */

.content-right {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid-container {
    background-color: #2daa9e;
    width: 41rem;
    height: 41rem;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.island-container {
    width: 97%;
    height: 97%;
    background-color: #75c6be;
    border-radius: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#island {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 98%;
    height: 98%;
    gap: 0.18rem;
    border-radius: 0.1rem;
    justify-items: center;
    align-items: center;
}

/* to hide any cells overflowing (more than grid size), if spanning cells used */
/* #island > :nth-child(n+26) {
  display: hidden;
} */

.cell {
    border: 0.0625rem solid transparent;
    border-right-color: var(--primary-green);
    border-bottom-color: var(--primary-green);
    border-top-color: #a6ded9;
    border-left-color: #a6ded9;
    display: grid;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    background-color: #90d5cf;
    width:100%;
    height:100%;
    transition: 
        transform 0.3s ease,
        box-shadow 0.3s ease,
        border-color 0.3s ease;
}

.cell:hover {
    transform: perspective(37.5rem) translateZ(0.6rem);
    border-width: 0.125rem;
    border-right-color: #2daa9e;
    border-bottom-color: #2daa9e;
    box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* CELL OBJECTS FORMATTING */

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.sand {
    background-image: url("images/sand_bg2.png");
    background-size: auto 100%;
    background-repeat: repeat-x;
    animation: slideBackground 6s linear infinite;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.ocean {
    /* background-image: url("images/2.png"); */
    background-image: url("images/ocean_bg_contrasted.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: repeat-x;
    animation: slideBackground 6s linear infinite;
    z-index: 1;
}

.big-fish {
    width: 90%;
    z-index: 3;
}

.crab {
    width: 90%;
    z-index: 3;
}

.small-fish {
    width: 55%;
    z-index: 2;
    /* transform: scaleX(-1); */
}

.tree {
    justify-self: start;
    z-index: 2;
}